.metadata



### STS for admin-server ###
admin-server/.mvn
admin-server/.settings
admin-server/.classpath
admin-server/.gitattributes
admin-server/.project
admin-server/HELP.md
admin-server/mvnw
admin-server/mvnw.cmd
admin-server/target
admin-server/.factorypath
admin-server/src/main/resources/application.yaml
admin-server/.gitignore
admin-server/bin


### STS for api-gateway###
api-gateway/.mvn
api-gateway/.settings
api-gateway/.classpath
api-gateway/.gitattributes
api-gateway/.project
api-gateway/HELP.md
api-gateway/mvnw
api-gateway/mvnw.cmd
api-gateway/target
api-gateway/.factorypath
api-gateway/.gitignore
api-gateway/src/main/resources/application.yaml
api-gateway/bin


### STS for service-registry###
service-registry/.mvn
service-registry/.settings
service-registry/.classpath
service-registry/.gitattributes
service-registry/.project
service-registry/HELP.md
service-registry/mvnw
service-registry/mvnw.cmd
service-registry/target
service-registry/.factorypath
service-registry/.gitignore
service-registry/src/main/resources/application.yaml
service-registry/bin

### STS for auth-service###
auth-service/.mvn
auth-service/.settings
auth-service/.classpath
auth-service/.gitattributes
auth-service/.project
auth-service/HELP.md
auth-service/mvnw
auth-service/mvnw.cmd
auth-service/target
auth-service/.factorypath
auth-service/.gitignore
auth-service/src/main/resources/application.properties
auth-service/bin

### STS for room-service###
room-service/.mvn
room-service/.settings
room-service/.classpath
room-service/.gitattributes
room-service/.project
room-service/HELP.md
room-service/mvnw
room-service/mvnw.cmd
room-service/target
room-service/.factorypath
room-service/.gitignore
room-service/src/main/resources/application.properties
room-service/bin


### STS for room-service###
message-service/.mvn
message-service/.settings
message-service/.classpath
message-service/.gitattributes
message-service/.project
message-service/HELP.md
message-service/mvnw
message-service/mvnw.cmd
message-service/target
message-service/.factorypath
message-service/.gitignore
message-service/src/main/resources/application.properties
message-service/bin